name: Build ZMK Firmware

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      matrix: ${{ fromJSON(fromJSON('{"include":' + toJSON(fromYAML('')) + '}')).include }}